*{
    font-family: 'Quicksand', sans-serif;
}
.my-body{
    max-width: 95%;
    height: auto;
    margin: 0px auto;
    top: 0;
    background-color: white;
    /* border: 1px solid gainsboro; */
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
}
.main-header{
    top:0px;
    /* bottom: 10px; */
    width: 95%;
    height: auto;
    background-color: gainsboro;
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
    position: fixed;
    /* box-shadow: 0px 0px 2px rgba(0, 0, 0, 1); */
}
.header-name{
    padding: 15px;
    margin: 5px;
    color: #4b8a82;
    font-size: larger;
}
.main-menu{
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: medium;
    
}
.main-menu > ul{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    display: flex;
    justify-content: right;
}
.main-menu > ul > li > a {
    color: black;
    text-decoration: none;
    padding: 15px;
    margin-right: 5px;
    display: inline-block;
    font-size: large;
}
.main-menu > ul > li > a:hover {
    background-color: #4b8a82;
    color: white;
}
.main-content{
    /* justify-content: center; */
    padding: 5px;
    display: block;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
    
    /* align-items: center;
    justify-content: center; */
}
.resume{
    padding-left: 25%;
    padding-right: 25%;
    display: block;
    text-align: justify;
    padding-bottom: 20px;
    margin-top: 65px;
    /* margin-left: 100px;
    margin-right: 100px; */
    /* align-items: center; */
}

.enfasis,.where{
    padding-left: 20px;
    margin-top: 5px;
    margin-bottom: 0px;
}
.where{
    font-size: 15px;
}
.sub{
    padding-left: 20px;
    margin-top: 5px;
    margin-bottom: 15px;
    color: gray;
    
}


.enfasis > strong{
    padding-right: 32px;
}


/* .main-picture{
    display: grid;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}
.big-name{
    font-size: xx-large;
    color: #4b8a82;
    margin-bottom: 0px;
    /* text-align: center; 
} */
h1.name{
    color: #4b8a82;
    margin-bottom: 5px;
    margin-top: 15px;
    padding-top: 20px;
}

.d1{
    font-size: 14px;
    margin: 0;
}
.d2{
    text-align: justify;
}
.context{
    /* color: #0a66c2; */
    color: #4b8a82;
}
.enfasis2{
    padding-left: 20px;
    font-size: 15px;
}
.enfasis2 > strong{
    padding-right: 15px;
    font-size: medium;
}
.conference{
    font-size: 14px;
    padding-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.authors{
    font-size: 13px;
    padding-left: 20px;
    margin-top: 5px;
    color: gray;
}
.authors > span{
    color: #4b8a82;
    font-weight: bold;
}

.thanks{
    margin-top: 20px;
}
.about{
    padding-top: 5px;
    padding-left: 30%;
    padding-right: 30%;
    text-align: justify;
}
.main-footer{
    background-color: gainsboro;
    display: grid;
}
.connect{
    font-size: larger;
    padding-left: 10%;
    padding-top: 15px;
    /* margin: 15px; */
}

.main-footer > a{
    /* color: #0a66c2; */
    color: #4b8a82;
}
.main-footer > a > i{
    size: 1em;
    /* padding-left: 50%; */
    align-items: center;
    /* text-decoration: none; */
    margin: 5px;
    justify-content: center;
    padding-bottom: 15px;
    display: grid;
}

@media screen and (max-width:700px) {
    .main-header{
        display: grid;
        text-align: center;
        justify-content: center;
    }
    .resume{
        padding-left: 15%;
        padding-right: 15%;
        display: block;
        text-align: justify;
        padding-bottom: 20px;
        margin-top: 118px;
        /* margin-left: 100px;
        margin-right: 100px; */
        /* align-items: center; */
    }
}

