*{
    font-family: 'Quicksand', sans-serif;
}
.my-body{
    /* top: -20px; */
    max-width: 95%;
    height: auto;
    margin: 0px auto;
    background-color: white;
    /* border: 1px solid gainsboro; */
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
}
.main-header{
    width: 100%;
    height: auto;
    background-color: gainsboro;
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
}
.header-name{
    padding: 15px;
    margin: 5px;
    color: #4b8a82;
    font-size: larger;
    cursor: pointer;
}
.main-menu{
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: medium;
}
.main-menu > ul{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    display: flex;
    justify-content: right;
}
.main-menu > ul > li > a {
    color: black;
    text-decoration: none;
    padding: 15px;
    margin-right: 5px;
    display: inline-block;
    font-size: large;
}
.main-menu > ul > li > a:hover {
    background-color: #4b8a82;
    color: white;
}
.main-content{
    /* justify-content: center; */
    padding: 5px;
    display: block;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
    margin-top: 65px;
    /* align-items: center;
    justify-content: center; */
}
.main-picture{
    display: grid;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}
.big-name{
    font-size: xx-large;
    color: #4b8a82;
    margin-bottom: 0px;
    /* text-align: center; */
}
.thanks{
    margin-top: 20px;
}
.about{
    padding-top: 5px;
    padding-left: 20%;
    padding-right: 20%;
    text-align: justify;
}
.main-footer{
    background-color: gainsboro;
    display: grid;
}
.connect{
    font-size: larger;
    padding-left: 10%;
    padding-top: 20px;
    padding-bottom: 0;
    margin: 0;
    /* margin: 15px; */
}
.main-footer > a{
    /* color: #0a66c2; */
    color: #4b8a82;
    margin: 0;
    padding: 0;
}
.main-footer > a > i{
    size: 1em;
    /* padding-left: 50%; */
    align-items: center;
    /* text-decoration: none; */
    margin: 5px;
    justify-content: center;
    padding-bottom: 10px;
    display: grid;
    margin-top: 10px;
}
.rights{
  color: rgba(0, 0, 0, 0.756);
  padding-left: 20px;
  font-size: small;
  margin: 0;
  padding-bottom: 10px;
}

.contact-details{
    display: flex;
    justify-content: space-between;
}
.contact-form{
    width: 50%;
    padding: 30px;
}
.music{
    width: 50%;
    padding: 30px;
}
.music iframe{
    border-radius:12px;
    width: 100%;
    padding: 20px;
}
.contact-form  form{
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
}
.contact-form  form input, .contact-form  form textarea{
    width: 100%;
    padding: 15px;
    margin: 5px;
}
.contact-form form button{
    display: inline-block;
    width: 103%;
    padding: 15px;
    margin: 5px;
    background-color: #4b8a82;
    color: white;
    
}





@media screen and (max-width:700px) {
    .main-header{
        display: grid;
        text-align: center;
        justify-content: center;
    }
    .main-menu > ul > li > a {
        padding: 10px;
        font-size: medium;
    }
    .about{
        padding-top: 5px;
        padding-left: 10%;
        padding-right: 10%;
        text-align: justify;
    }
    .contact-details{
        display: grid;
    }
    .contact-form{
        width: 100%;
        display: flex;
        padding: 10px;
    }
    .contact-form  form input, .contact-form  form textarea{
        width: 90%;
        padding: 15px;
        margin: 5px;
        margin-left: 10px;
        margin-top: 10px;
    }
    /* .contact-form label input,
    .contact-form label textarea,{
        object-fit: contain;
    } */
    .music{
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
    }

}

